lazygit.tar.gz

env/dotfiles/github-copilot/.config/github-copilot/apps.json

env/dotfiles/Windsurf/.config/Windsurf/Backups/

env/dotfiles/Windsurf/.config/Windsurf/Cache/*

env/dotfiles/Windsurf/.config/Windsurf/CachedData/*

env/dotfiles/Windsurf/.config/Windsurf/CachedExtensionVSIXs/*

env/dotfiles/Windsurf/.config/Windsurf/CachedProfilesData/*

env/dotfiles/Windsurf/.config/Windsurf/logs/*
