lazygit.tar.gz

env/dotfiles/github-copilot/.config/github-copilot/apps.json

!env/dotfiles/Windsurf/.config/Windsurf/

env/dotfiles/Windsurf/.config/Windsurf/*
!/env/dotfiles/Windsurf/.config/Windsurf/User/
env/dotfiles/Windsurf/.config/Windsurf/User/History/
env/dotfiles/Windsurf/.config/Windsurf/User/globalStorage/
env/dotfiles/Windsurf/.config/Windsurf/User/workspaceStorage/
.idea
